---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <description>{{ site.description }}</description>
    <language>en-gb</language>
    {% for article in collections.articles %}
    <item>
      <title>{{ article.data.title }}</title>
      <link>{{ site.url }}{{ article.url }}</link>
      <guid>{{ site.url }}{{ article.url }}</guid>
      <pubDate>{{ article.date.toUTCString() }}</pubDate>
      <description>{{ article.data.summary }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
